.toggle-container {
    display: flex;
    align-items: center;
}

.toggle-label {
    margin-right: 0px;
}

.toggle {
    position: relative;
    width: 60px;
    height: 34px;
}

.toggle-input {
    display: none;
}

.toggle-slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    border-radius: 34px;
    transition: background-color 0.3s ease;
}

.toggle-slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    border-radius: 50%;
    transition: transform 0.3s ease;
}

.toggle-input:checked + .toggle-slider {
    background-color: #222;
}

.toggle-input:checked + .toggle-slider:before {
    transform: translateX(26px);
}

.toggle-ball {
    position: absolute;
    top: 4px;
    left: 4px;
    width: 26px;
    height: 26px;
    background-color: white;
    border-radius: 50%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    transition: left 0.3s ease;
}

.toggle-ball.light {
    left: 4px;  
}

.toggle-ball.dark {
    left: 30px;
}