@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400&display=swap");

:root {
  --grey-05: #f5f6f7;
  --grey-10: #dfdfe2;
  --grey-15: #d0d0d5;
  --grey-75: #3b3b4f;
  --grey-80: #2a2a40;
  --grey-85: #1b1b32;
  --grey-90: #0a0a23;
  --purple: #dbb8ff;
  --yellow: #f1be32;
  --blue: #99c9ff;
  --red: #e71837;
  --light-green: #acd157;
  --dark-purple: #5a01a7;
  --dark-yellow: #4d3800;
  --dark-blue: #002ead;
  --dark-green: #00471b;
}

html,
body {
  font-family: "Roboto Mono", monospace;
  color: var(--grey-90);
}

input[type="checkbox"] {
  box-sizing: border-box;
  padding: 0;
}

.checkbox-label {
  cursor: pointer;
}
.checkbox-label:hover .tooltiptext {
  visibility: visible;
}
.checkbox-label__input {
  position: absolute;
  opacity: 0;
}
.checkbox-label__control {
  position: relative;
  display: inline-flex;
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  margin-right: 12px;
  vertical-align: middle;
  background-color: #f7fafc;
  border: 2px solid var(--grey-90);
  transform: scale(0.75);
}
.checkbox-label__input:checked + .checkbox-label__control:after {
  position: absolute;
  display: block;
  content: "";
  top: 5px;
  left: 5px;
  width: 10px;
  height: 10px;
  background-color: var(--dark-purple);
}
.checkbox-label__input:hover + .checkbox-label__control,
.checkbox-label__input:focus + .checkbox-label__control {
  box-shadow: 0 0 0 10px rgba(10, 10, 35, .1);
}

.section {
  width: 100%;
  overflow: hidden;
  margin: 2% 0%;
}

.warning {
  color: var(--red);
  background: var(--grey-05);
  margin-left: 2%;
  padding: 1%;
}

.markdown-section {
  min-height: calc(100vh - 100px);
}

.loader {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: inherit;
}

.github-count {
  color: var(--dark-purple);
}

.tooltiptext {
  visibility: hidden;
  display: flex;
  align-items: center;
  color: var(--grey-05);
  margin-left: 8%;
  background: var(--grey-90);
  padding: 2% 5%;
  font-size: 14px;
}
.tooltiptext::after {
  content: " ";
  position: absolute;
  top: 50%;
  right: 100%;
  /* To the left of the tooltip */
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent var(--grey-90) transparent transparent;
}

.workflow {
  margin-left: 2%;
  padding: 1%;
  background: var(--grey-05);
}

@media only screen and (max-width: 580px) {
  .tooltiptext {
    display: none;
  }
}

@media only screen and (max-width: 1199px) {
  .checkbox {
    font-size: 12px;
  }

  .logo {
    width: 20px;
    height: 20px;
  }

  .tooltiptext {
    display: none;
  }

  .warning {
    font-size: 10px;
  }

  .workflow {
    font-size: 12px;
  }
}
