@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400&display=swap");
:root {
  --grey-05: #f5f6f7;
  --grey-10: #dfdfe2;
  --grey-15: #d0d0d5;
  --grey-75: #3b3b4f;
  --grey-80: #2a2a40;
  --grey-85: #1b1b32;
  --grey-90: #0a0a23;
  --purple: #dbb8ff;
  --yellow: #f1be32;
  --blue: #99c9ff;
  --red: #e71837;
  --light-green: #acd157;
  --dark-purple: #5a01a7;
  --dark-yellow: #4d3800;
  --dark-blue: #002ead;
  --dark-green: #00471b;
}

html,
body {
  font-family: "Roboto Mono", monospace;
  color: var(--grey-90);
}

[type="checkbox"] {
  -webkit-box-shadow: 0 1px 1px var(--grey-90) !important;
  -moz-box-shadow: 0 1px 1px var(--grey-90) !important;
  box-shadow: 0 1px 1px var(--grey-90) !important;
  cursor: pointer;
  border-radius: 0px !important;
}

.section {
  width: 100%;
  overflow: hidden;
  margin: 2% 0%;
}

.warning {
  color: var(--red);
  background: var(--grey-05);
  margin-left: 2%;
  padding: 1%;
}

.markdown-section {
  min-height: calc(100vh - 100px);
}

.loader {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: inherit;
}

.github-count {
  color: var(--dark-purple);
}

.tooltiptext {
  visibility: hidden;
  display: flex;
  align-items: center;
  color: var(--grey-05);
  margin-left: 8%;
  background: var(--grey-90);
  padding: 2% 5%;
  font-size: 14px;
}

.skillCheckboxLabel:hover .tooltiptext {
  visibility: visible;
}

.tooltiptext::after {
  content: " ";
  position: absolute;
  top: 50%;
  right: 100%;
  /* To the left of the tooltip */
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent var(--grey-90) transparent transparent;
}
.workflow {
  margin-left: 2%;
  padding: 1%;
  background: var(--grey-05);
}

@media only screen and (max-width: 580px) {
  .tooltiptext {
    display: none;
  }
}

@media only screen and (max-width: 1199px) {
  .checkbox {
    font-size: 12px;
  }

  .logo {
    width: 20px;
    height: 20px;
  }

  .tooltiptext {
    display: none;
  }
  .warning {
    font-size: 10px;
  }
  .workflow {
    font-size: 12px;
  }
}
